<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <header>
        <%- include("./partials/header.ejs") %>
        <%- include("./partials/nav.ejs") %>
    </header>
    <main>
        <form action="/api/tests" method="POST">
            <label for="question">Pregunta:</label><br>
            <input type="text" id="question" name="question"><br>
            <label for="resp1">Respuesta 1</label><br>
            <input type="text" id="resp1" name="resp1"><br><br>
            <label for="resp2">Respuesta 2</label><br>
            <input type="text" id="resp2" name="resp2"><br><br>
            <label for="resp3">Respuesta 3</label><br>
            <input type="text" id="resp3" name="resp3"><br><br>
            <label for="resp4">Respuesta 4</label><br>
            <input type="text" id="resp4" name="resp4"><br><br>
            <label for="solucion">Solución</label><br>
            <input type="text" id="solucion" name="solucion" placeholder="<Numero> de respuesta correcta"><br><br>
            <input type="submit" value="Submit">
          </form>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>

</html>